/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


*{margin:0; padding:0; outline:0;-webkit-box-sizing:border-box;box-sizing:border-box;}

@font-face {
    font-family: 'Sacramento';
    font-style: normal;
    src: url(fonts/Sacramento-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    src: url(fonts/Cuprum-Regular.ttf);
    font-weight: 400;
}


:root{
    --color1: #966232;
    --color2: #FFC58F;
    --color3: #F1E3D0;
    --color4: #D4A579;
}

body{
    font-family: Sacramento;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 36px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    overflow-x: hidden
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.this-page{
    background: var(--color2);
    color: var(--color1);
}

header, footer, section{
    max-width: 1000px;
    width: min(1000px, 99vw);
}

#logo{
    float:left;
    position: relative;
    --logo-height: 63px;
    top: calc(-1 * var(--logo-height));
}

#logo:before{
    content:"";
    display: block;
    width: 81px;
    height: var(--logo-height);
    position: relative;
    z-index: -1;
    left:27px;
    top: 60px;
    background: var(--color2);
    border-radius: 50%;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header > nav > a, header > nav > div{
    margin-left: 60px;
}

nav > div{
    display: inline-block;
}

#circle{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: var(--color1);
}

img{
    width:230px;
    height: 280px;
}

#section-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 120px;
}

#section-1 > div{
    width:430px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#section-1 > div > div > p {
    color: var(--color1);
    float: right;
    margin-right: 11%;
}

button{
    width: 430px;
    height: 80px;
    background: var(--color1);
    border: none;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

button:hover{
    background: var(--color2);
}

button:active{
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}

button > a {
    font-family: Cuprum;
    font-size: 36px;
    color: white;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

button:hover > a{
    color: var(--color1);
}


h1, .stat-top {
    font-size: 64px;
    font-weight: 400;
}

hr{
    width: min(1344px, 84vw);
}

#section-2{
    margin-top: 90px;
    margin-bottom:100px;
}

.images{
    margin: 90px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.text-block{
    width: 100%;
    height: 280px;
    background: var(--color2);
    padding-top: 34px;
    padding-left: 92px;
    margin-bottom: 100px;
}

.text-block > p{
    font-family: Cuprum;
    font-size:30px;
    margin-top: 18px;
}

#stats{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between
}

.stat-down{
    font-size: 48px;
}

footer{
    width: 100vw;
    height: 705px;
}

footer, footer a{
    color: white;
}

footer > .content {
    margin-top: 172px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-background{
    background: var(--color1);
    width: 100vw;
    height: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.contacts{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


footer > .content > nav, .contacts {
    
    -webkit-box-orient: vertical;
    
    -webkit-box-direction: normal;
    
        -ms-flex-direction: column;
    
            flex-direction: column;
}

footer > .content > nav{
    -webkit-box-flex: 0.1;
        -ms-flex-positive: 0.1;
            flex-grow: 0.1;
}

.contacts > button{
    width: 190px;
    height: 58px;
    background: var(--color2);
    margin-bottom: 39px;
}

.contacts > button:hover{
    background: var(--color3);
}

.contacts > button > a{
    font-size: 24px ;
    color: var(--color1);;
}

.email{
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 400;
    margin-top: 19px;
}

#section-offers, #section-galery{
    max-width: 100vw;
    width: 100vw;
}

#section-offers{
    background: var(--color3);
    height: 458px;
    text-align: center;
    padding: 0 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;

} 

.offers-list{
    max-width: 1230px;
    height: 277px;
    font-family: Cuprum;
    font-size: 30px;
    line-height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-column-gap:21px;
       -moz-column-gap:21px;
            column-gap:21px;
    margin-top:40px;
}

.offers-list > div{
    width: 230px;
    height: 113px;
    background: var(--color4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 36px;
}

#section-header,
#section-galery  .description{
    text-shadow: 
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2),
        0 0 5px var(--color2);
}

#section-header{
    text-align: center; 
    margin-top: 70px;
    margin-bottom: 50px;
}


#section-galery{
    height: 1058px;
    background: var(--color4);
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#section-galery > .content{
    max-width: 1300px;
    width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    row-gap: 20px;
}


#section-galery img, #section-galery .image{
    width: 450px;
    height: 450px;
}

#section-galery  .description{
    position: relative;
    z-index: 5;
    top: -122px;
    text-align: center;
}

#section-contact-form{
    max-width: 100vw;
    width: 100vw;
    text-align: center;
    background: var(--color3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;

}

#contact-form{
    max-width: 700px;
    width: 700px;
}

#contact-form > fieldset{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    row-gap: 10px;
    border-color: var(--color3);
    border:none;
}


legend{
    font-family: Sacramento;
    padding: 0 10px ;
    font-size: 64px;
}

#contact-form input:not([type=submit]){
    
    height: 40px;
    border:none;
    border-bottom: 1px solid var(--color1);
    padding-left: 10px;
    margin-bottom: 10px;
}

#contact-form input:not([type=submit])::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder{
    color:var(--color1);
}

#contact-form input:not([type=submit])::-moz-placeholder, #contact-form textarea::-moz-placeholder{
    color:var(--color1);
}

#contact-form input:not([type=submit]):-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder{
    color:var(--color1);
}

#contact-form input:not([type=submit])::-ms-input-placeholder, #contact-form textarea::-ms-input-placeholder{
    color:var(--color1);
}

#contact-form input:not([type=submit])::placeholder,
#contact-form textarea::placeholder{
    color:var(--color1);
}


#contact-form input, 
#contact-form textarea{
    width: 100%;
    margin: 5px;
    font-family: Cuprum;
    font-size: 24px;
    background: var(--color2);
}

#contact-form textarea{
    border: none;
    padding: 10px;
}
#contact-form input[type=submit]{
    border:none;
    background: var(--color1);
    color:white;
    width: 200px;
    height: 60px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

#contact-form input[type=submit]:hover{
    background: var(--color2);
    
    
}

#contact-form input[type=submit]:active{
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}

#section-goods-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin:50px 0;
}

.goods-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: Cuprum;
    font-size: 20px;
}

.goods{
    max-width: 200px;
    width: 200px;
    background: var(--color2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.goods-list button{
    width: 100%;
    height: 60px;
}

.goods > .photo{
    width: 100%;
    height: auto;
}

.goods > div > div{
    padding: 10px;
}

.goods .price{
    height: 60px;
    font-family: Sacramento;
    font-size: 36px;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.price > .price-orig{
    display: none;
}

.goods  .name{
    text-align: center;
    background: var(--color4);
}
.price{
    position: relative;
}

.discount{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 60px;
    border-color: var(--color4) transparent transparent transparent;
    position: absolute;
    right:0;
}

.discount-text {
    position: absolute;
    bottom: 24px;
    right: -1px;
    font-size: 24px;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
}

.short-desciption{
    padding: 5px;
}

#section-2 > h1{
    margin-left: 20px;
}



.dropdown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 100;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right:0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    -webkit-box-shadow: 2px 2px 6px var(--color4);
            box-shadow: 2px 2px 6px var(--color4);
}

.dropdown-content > *{
    -ms-flex-preferred-size: min-content;
        flex-basis: min-content;
    padding: 5px 20px;
}

.dropdown:hover .dropdown-header, 
.dropdown-content > *:hover{
    background: var(--color4);
}

.dropdown-burger{
    width: 0;
    height:0;
}

.dropdown-burger:checked ~ .dropdown-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 63px;
}

#circle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 8px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

#circle > .line{
    width: 50px;
    height: 4px;
    background: var(--color1);
    -webkit-transform-origin: 17px;
        -ms-transform-origin: 17px;
            transform-origin: 17px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.dropdown-burger:checked ~ #circle{
    background: transparent;
}

.dropdown-burger:checked ~ #circle > .line:first-child{
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg);
}

.dropdown-burger:checked ~ #circle > .line:last-child{
    -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotateZ(-45deg);
}


@media screen and (min-width: 769px){
    .dropdown:hover .dropdown-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 63px;
    }
}

@media screen and (max-width: 1280px){
    #section-offers{
        padding: 5%;
    }
    #section-offers{
        padding: 30px 3%;
        height: auto;
    }

    .offers-list{
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        row-gap: 30px;
        height: auto;
    }
}

@media screen and (max-width: 1080px){
    .offers-list{
        margin-top: 20px;
    }
}



@media screen and (max-width:1060px){
    footer > .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 50px;
        row-gap: 20px;
    }
    header{
        padding: 0 10px;
    }
    #section-1{
        margin-bottom: 40px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 30px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;

    }

    .images {
        overflow-x: scroll;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        padding: 0 10px;

    }
    #stats {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly
    }

    .offers-list{
        row-gap: 20px;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }

    .offers-list > div{
        -ms-flex-preferred-size: min-content;
            flex-basis: min-content;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }

    #section-galery img, #section-galery .image {
        width: 400px;
        height: 400px;
    }

    #section-galery {
        height: auto;
    }
    #section-galery > .content {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    #section-goods-block{
        padding: 0 20px;
    }

    .dropdown{
           position: static;
       }
       .dropdown-content{
           right: 20px;
       }
}


@media screen and (max-width:900px){
    #section-1{
        -webkit-column-gap:50px;
           -moz-column-gap:50px;
                column-gap:50px;
    }

    #section-1 > div{
        margin: 0 100px;
    }

    #section-galery > .content {
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }

    #section-galery img, #section-galery .image {
        width: 320px;
        height: 320px;
    }

    #section-galery .image .description{
        font-size: 48px;
        top: -94px;
    }

    .goods-list{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        row-gap: 20px;
    }

    .goods{
        max-width: 250px;
        -ms-flex-preferred-size: max-content;
            flex-basis: max-content;
    }
}

@media screen and (max-width: 800px){
    #stats{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-column-gap:20px;
           -moz-column-gap:20px;
                column-gap:20px;
    }

    #section-2 > .text-block{
        padding: 20px;
        text-align: center;
    }

    #section-galery img, #section-galery .image {
        width: 250px;
        height: 250px;
    }

    #section-galery .image .description{
        font-size: 36px;
        top: -80px;
    }

    .goods{
        max-width: 48%;
    }
}

@media screen and (max-width: 640px){
    header > nav > a, header > nav > div{
        margin-left: 20px;
    }

    h1, .stat-top{
        font-size: 48px;
    }

    #section-1{
        -webkit-column-gap:0;
           -moz-column-gap:0;
                column-gap:0;
    }

    #section-1 > div > div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #section-1 > div{
        height: auto;
        row-gap: 10px;
    }
    #section-2 > .text-block > p{
        font-size: 24px;
    }

    #section-2 > .text-block{
        height: auto;
        padding-top:0;
    }

    #section-offers > .offers-list > div > a{
        font-size: 24px;
    }

    #section-offers > .offers-list > div{
        height: 87px;
        padding: 10px;
    }

    #section-galery img, #section-galery .image {
        width: 100%;
        height: auto;
    }

    #section-galery .image .description{
        font-size: 48px;
        top: -100px;
    }
}


@media screen and (max-width: 570px){
    .goods{
        max-width: 100%;
    }
}



@media screen and (max-width: 470px){
    header > nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -52px;
    }
    header > nav > div{
        display: none;
    }

    header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
        margin-bottom: 50px;
    }


    #section-1 > div > button{
        width: 300px;
    }
}